/* .container{
    display: flex;
    justify-content: center;
    
}
.weather-card{
   margin-top:10%;
   background-color: #fff;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
}
.weather-info{
   justify-content: center;
}
.info-item{
    display: flex;
    justify-content: space-between;
} */
.weather-card{
    min-width: 400px;
    max-width: 1440px;
    margin: 10vh 25vw;
    background: linear-gradient(to right, #a4b044,#c14977);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(166, 178, 52, 0.433);
    /* opacity: 0.85; */
    color: #d0dce4;
}
.weather-info{
    text-align: center;
    margin-bottom: 2.5vh;
}
.info-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5vh;
    color: #cdecff;
}
.search-input{
    border-radius: 5px;
}
.search-btn{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%; 
}
.temp{
    font-size: 2.5rem;
    font-weight: bold;
}
.description{
    margin-top: 5px;
}
.city-info{
    font-size: xxx-large;
}
.input-group{
    justify-content: center;
    
}