<div class="container">
    <div class="weather-card">
        <div class="input-group">
            <select class="flow-control" id="citySelect">
                <option value="Delhi">Delhi</option>
                <option value="Noida">Noida</option>
                <option value="Pune">Pune</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Banglore">Banglore</option>
                <!-- Add more options for other cities as needed -->
            </select>
            <button class="btn btn-primary search-btn" onclick="searchWeather()">Search</button>
        </div>
       
        <div class="weather-info">
            <img src="" alt="weather-img">
            <div class="temprature">25</div>
            <div class="description">Description</div>
        </div>
        <div class="addition-info">
            <div class="info-item">
                <span>Feels Like :</span>
                <Span>content</Span>
            </div>
            <div class="info-item">
                <span>Feels Like :</span>
                <Span>content</Span>
            </div><div class="info-item">
                <span>Pressure :</span>
                <Span>content</Span>
            </div><div class="info-item">
                <span>Humidity :</span>
                <Span>content</Span>
            </div><div class="info-item">
                <span>City :</span>
                <Span>content</Span>
            </div>
        </div>
    </div>
</div>